<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="font-family: 'Pacifico', sans-serif;">Shazart</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-refresher style="background-color: transparent;"(ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row padding>
    <!-- Avatar -->
    <ion-col col-3>
      <img *ngIf="foto_profilo!=''" [src]="foto_profilo" class="avatar" alt="">
      <img *ngIf="foto_profilo==''" src="assets/icon/profile.png" class="avatar" alt="">

    </ion-col>
    <!-- Information about user -->
    <ion-col col-3 text-center style="padding-top:25px">
      <h6>{{sizeScan}}</h6>
      <p no-padding no-margin>Scan</p>
    </ion-col>
    <ion-col col-3 text-center style="padding-top:25px">
      <h6>{{sizePreferiti}}</h6>
      <p no-paddin no-margin>Preferite</p>
    </ion-col>
    <ion-col col-3 text-center style="padding-top:25px">
      <h6>0</h6>
      <p no-paddin no-margin>Condivise</p>
    </ion-col>
  </ion-row>


  <br><br>
  <ion-grid>
    <!--for per caricare le immagini-->
    <ion-row>
      <ion-col col-4 class="grid_img" *ngFor="let opera of opereArray" (click)="showDetails(opera)">
        <img [src]=opera.img_prev alt="">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<div class="black"></div>
