page-preferiti {
  .background{
    background-size: 130%,100%;
    background-image:url(../assets/backgrounds/240-canova-amore-e-psiche.jpg);
    background-repeat: no-repeat;
  }
  .black{
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255);
    opacity: 0;
  }
}
.avatar {
  border-radius: 100%;
  position: absolute;
}

.edit-button {
  background: #fff;
  border: 1px solid #ccc;
  font-size: 13px;
  border-radius: 3px;
  padding: 5px;
  font-weight: bold;
  width: 90%;
  margin-right: 30px;
}

.edit-button:active {
  border-color: #dce2ed;
}
