page-login {

  .login-content {
    background-image: url(https://i.pinimg.com/originals/c4/ee/64/c4ee646b83fe96612bfb34a6a5fa541b.gif);
    background-size: 150%,100%;
    background-position: center;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    #logoDiv{
      border-radius: 50%;
      height: 150px;
      width: 150px;
      background-color: rgba(70,70,70,0.4);
      background-size: 100%,100%;

    }
    #logo{
      height:100%;
      width: 105%;
      border-radius: 50%;
      margin-top: -5px;
    }
    .login-box {
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      background: #183d4f;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
    }

    .register-btn {
      color: #ffffff;
      font-size: 0.8em;
    }
  }

}
