page-scan{

  .displaybottom{
    padding-top: 86%;
    bottom: 0;
  }
  .black{
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255);
    opacity: 0.3;
  }
  #startScan{
    border-radius: 50%;
    height:200px;
    width:200px;
  }
  .displaybottom{
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .img-with-text {
    text-align: center;
  }

  #buttonText{
    font-size: large;
    margin-bottom: 30px;
    font-family: "Pacifico", sans-serif;
  }
  .img-with-text img {
    height:140px;
    width:140px;
    display: block;
  }

  .trasparente{
    background: transparent;
  }
  .background{

    background-size: 150%,110%;
    background-image:url(../assets/backgrounds/klimt.jpg);
    background-repeat: no-repeat;

  }


}


#gif{
  position: absolute;
  margin-top: 145% !important;

}

// .pictures{
//  position: relative;
//  bottom: 0;
// }
