page-edit-profile {

  #username{
    color: black;
  }
  .edit-avatar {
    border-radius: 100%;
    width: 25%;
  }
  .passwordIcon{
    font-size:3rem !important;
    position: relative !important;
    margin: 0 auto !important;
  }
  .change-text {
    font-size: 13px;
    color: #659CF2;
  }

  .info-text {
    font-family: Arial, Helvetica, sans-serif;
  }

  .custom-hr {
    height: 3px;
  }

  .custom-select {
    margin-left: 15px;
    position: absolute;
  }

  .avatar {
    margin-top: -10px;
    border-radius: 100%;
    position: absolute;
    margin-right: 20px;
   }

  .edit-button {
    background: #fff;
    border: 1px solid #ccc;
    font-size: 13px;
    border-radius: 3px;
    padding: 5px;
    font-weight: bold;
    width: 90%;
    margin-right: 30px;
  }

  .edit-button:active {
    border-color: #dce2ed;
  }

  .bottone{
    font-size: 1.2rem;
    margin:0rem 0rem;
  }
}
