<ion-header >
  <ion-navbar color="primary"  >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="font-family: 'Pacifico', sans-serif;">Shazart</ion-title>
    <button ion-button class="bottone" style="float:right" (click)="updateProfile()">
      <ion-icon style="zoom:4;" name="checkmark" ></ion-icon>
    </button>
  </ion-navbar>
</ion-header>




<ion-content padding>
  <ion-row>
    <!-- Avatar -->

    <ion-col col-3>
      <img *ngIf="user_data.profile_img!=''" [src]="sanititizerImage" class="avatar" alt="">
      <img *ngIf="user_data.profile_img==''" src="assets/icon/profile.png" class="avatar" alt="">

    </ion-col>
    <!-- Information about user -->
    <ion-col col-3 text-center style="padding-top:25px">
      <h6>{{sizeScan}}</h6>
      <p no-padding no-margin>Scan</p>
    </ion-col>
    <ion-col col-3 text-center style="padding-top:25px">
      <h6>{{sizePreferiti}}</h6>
      <p no-paddin no-margin>Preferite</p>
    </ion-col>
    <ion-col col-3 text-center style="padding-top:25px">
      <h6>0</h6>
      <p no-paddin no-margin>Condivise</p>
    </ion-col>
  </ion-row>
  <br><br>
  <ion-row no-padding no-margin>
    <ion-col no-padding no-margin col-4></ion-col>
    <ion-col no-padding no-margin text-center col-8>
      <button class="edit-button"(click)="changePhoto()">Cambia foto profilo</button>
    </ion-col>
    <ion-col col-3></ion-col>
  </ion-row>
  <!-- Profile picture -->


  <!-- Form -->
  <ion-item>
    <ion-label>
      <ion-icon name="contact" color="gray"></ion-icon>
    </ion-label>
    <ion-input type="text" [(ngModel)]="user_data.name" placeholder="Nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="contact" color="gray"></ion-icon>
    </ion-label>
  <ion-input type="text" id="surname" [value]="user_data.surname" placeholder="Cognome"></ion-input>
  </ion-item>



  <ion-item>
    <ion-label>
      <ion-icon name="quote" color="gray"></ion-icon>
    </ion-label>
    <ion-textarea placeholder="" id="description"[(ngModel)]="user_data.description" placeholder="Informazioni"></ion-textarea>
  </ion-item>

  <!-- Private information form -->
  <div margin-top padding-top>
    <h4 no-margin no-padding class="info-text">Informazioni private</h4>
    <hr class="custom-hr" color="gray">
  </div>

  <ion-item>
    <ion-label>
      <ion-icon name="person" color="gray"></ion-icon>
    </ion-label>
    <ion-input type="text" id="username" disabled="true" [(ngModel)]="user_data.username" placeholder="Username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="key" color="gray"></ion-icon>
    </ion-label>
    <ion-input [type]="passwordType" id="password" [(ngModel)]="user_data.password" placeholder="Password"></ion-input>
    <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
  </ion-item>


  <ion-item>
    <ion-label>
      <ion-icon name="mail" color="gray"></ion-icon>
    </ion-label>
    <ion-input type="text" [(ngModel)]="user_data.email" placeholder="Email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="transgender" color="gray"></ion-icon>
    </ion-label>
    <ion-select class="custom-select" [(ngModel)]="user_data.gender">
      <ion-option value="Maschio" >Maschio</ion-option>
      <ion-option value="Femmina">Femmina</ion-option>
      <ion-option value="Non specificato">Non specificato</ion-option>
    </ion-select>
  </ion-item>

</ion-content>

